@use '../base/variables' as v;
@use '../base/mixins' as m;



.disco {
    background-color: v.$white;
    margin-top: 6rem;
    margin-bottom: 10rem;


    @include m.desktop {
        margin-top: 55rem;
    }

    @include m.hd {
        margin-top: 85rem;
        margin-bottom: 15rem;
    }

    @include m.fourK {
        margin-top: 150rem;
    }

    @include m.fiveK {
        margin-top: 225rem;

    }

    &__grid {
        display: flex;
        flex-direction: column;

        @include m.desktop {
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }

    &__imagen {
        position: absolute;
        width: 10rem;

    }

    &__info {
        text-align: center;
        padding: 0 2rem;
        margin: 6rem 0;

        span {
            font-weight: 500;
            text-align: center;
            padding-top: 3rem;
            font-style: italic;
        }


        @include m.tablet {
            padding: 0 4rem;

        }

        @include m.desktop {

            max-width: 75rem;
        }

        @include m.hd {

            max-width: 85rem;
        }

        @include m.fourK {
            max-width: 90rem;
        }
    }

    &__button {
        background-color: v.$secondary;
        border: none;
        padding: 2rem 3rem;
        border-radius: 1rem;
        max-width: 25rem;
        position: relative;
        margin-top: 2rem;
        cursor: pointer;

        &:hover {
            background-color: #823d28;
        }
    }

}