@use '../base/variables' as v;
@use '../base/mixins' as m;



.productos {
    background-color: v.$white;
    padding: 4rem;
    margin: 3rem 2rem;



    &__grid {

        display: flex;
        gap: 2rem;
        flex-direction: column;
        justify-content: center;

        @include m.tablet {
            flex-direction: row;
            gap: 15rem;
        }
    }


    &__playera {

        display: grid;
        justify-items: center;
        margin-bottom: 2rem;
        color: v.$black;

        h3 {
            text-align: center;
            margin-top: 0;

        }

        p {
            text-align: center;
            font-weight: 500;
            margin-top: 0;
            font-size: 3rem;

        }


    }

    &__button {
        border: none;
        padding: 2rem 5rem;
        border-radius: 1rem;
        max-width: 25rem;
        cursor: pointer;
        background-color: transparent;

        a {
            color: v.$black;
        }

        &:hover {
            background-color: v.$primary;

            border: none;
            padding: 2rem 5rem;
            border-radius: 1rem;
            max-width: 25rem;
            cursor: pointer;

            a {
                color: v.$white;
            }
        }
    }

    &__imagen {

        margin-bottom: 2rem;
        transition-property: transform;
        transition-duration: 3ms;

        @include m.tablet {
            margin-bottom: 3rem;
        }

        &:hover {
            transform: scale(1.1);

        }

        img {
            width: 30rem;
            height: auto;
        }
    }


    &__button-vermas {
        background-color: v.$primary;
        border: none;
        padding: 2rem 3rem;
        border-radius: 1rem;
        max-width: 25rem;
        position: relative;
        margin-top: 2rem;
        cursor: pointer;

        &:hover {
            background-color: #183c4b;
        }
    }


    &__vermas {
        display: flex;
        justify-content: center;
    }



}