@use '../base/variables' as v;
@use '../base/mixins' as m;



.productos {
    margin: 2rem;

    &__grid {

        display: flex;
        gap: 6rem;
        flex-direction: column;

        @include m.tablet {
            flex-direction: row;
        }
    }


    &__playera {

        display: grid;
        justify-items: center;
        margin-bottom: 2rem;

        h3 {
            text-align: center;
            margin-top: 0;
        }

        p {
            text-align: center;
            font-weight: 500;
            margin-top: 0;

        }
    }

    &__button {
        background-color: v.$primary;
        border: none;
        padding: 2rem 5rem;
        border-radius: 1rem;
        max-width: 25rem;
        cursor: pointer;

        &:hover {
            background-color: #183c4b;
        }
    }
}