@use '../base/variables' as v;
@use '../base/mixins' as m;



.productos {
    margin: 2rem;

    @include m.fourK {
        margin: 15rem;
    }

    &__grid {

        display: flex;
        gap: 6rem;
        flex-direction: column;
        justify-content: center;

        @include m.tablet {
            flex-direction: row;
        }
    }


    &__playera {

        display: grid;
        justify-items: center;
        margin-bottom: 2rem;

        h3 {
            text-align: center;
            margin-top: 0;
        }

        p {
            text-align: center;
            font-weight: 500;
            margin-top: 0;

        }
    }

    &__button {
        border: none;
        padding: 2rem 5rem;
        border-radius: 1rem;
        max-width: 25rem;
        cursor: pointer;

        a {
            color: v.$black;
        }

        &:hover {
            background-color: #183c4b;

            border: none;
            padding: 2rem 5rem;
            border-radius: 1rem;
            max-width: 25rem;
            cursor: pointer;

            a {
                color: v.$white;
            }
        }
    }

    &__imagen {
        margin-bottom: 5rem;
        transition-property: transform;
        transition-duration: 3ms;

        @include m.tablet {
            margin-bottom: 3rem;
        }

        &:hover {
            transform: scale(1.1);

        }
    }


    &__vermas {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        padding: 2rem 0;

        a {
            color: v.$secondary;
        }
    }
}