// Fuentes
$font_principal: 'Cabin', sans-serif;


// Tamaño de Media Queries
$minphone: 360px;
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$hd: 1920px;
$forK: 2500px;

// Colores
$primary: #5D966D;
$secondary: #eef56f;
$blue: #3D6160;
$orange: #ED904C;
$pink: #5D966D;
$black: #313131;
$white: #FFFFFF;


$separation: 5rem;