// Fuentes
$font_principal: 'Poppins', sans-serif;
$font_secondary: 'Oswald', sans-serif;


// Tamaño de Media Queries
$minphone: 360px;
$phone: 480px;
$tablet: 768px;
$desktop: 1280px;
$hd: 1600px;
$fourK: 2500px;
$fiveK: 3500px;

// Colores
$primary: #3c606f;
$secondary: #b16449;
$terciary: #f1dcdf;
$blue: #4085e6;
$darkblue: #0d232c;
$black: #313131;
$white: #FFFFFF;


$separation: 5rem;